/* Define uma margem e padding de 0 para o body, eliminando espaços em branco */
body {
    margin: 0;
    padding: 0;
}

/* Estilos para o logotipo - a imagem se ajustará ao tamanho da div */
.foto1 img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Define o tamanho máximo para o conteúdo e centraliza horizontalmente */
.content {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilos para a div com a classe "texto2" */
.texto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adicione essa propriedade para centralizar verticalmente também */
}

/* Estilos para o título dentro da div com a classe "texto2" */
.texto2 h2 {
    font-size: 100px;
    color: #2a93d5;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin: 0; /* Remove as margens padrão para evitar espaçamentos indesejados */
}


/* Define o tamanho máximo para a imagem dentro da div com a classe "foto2" */
.foto2 img {
    width: 100%;
    height: 1080px;
    /* Altura desejada para a imagem */
    max-width: 100%;
}

/* Define o tamanho máximo para o vídeo e o ajusta horizontalmente */
.video iframe {
    width: 80%;
    height: 300px;
    /* Altura desejada para o vídeo */
    max-width: 100%;
}

/* Estilos para a div que contém três elementos lado a lado */
.container {
    display: flex;
    /* Cria um flex container */
    justify-content: center;
    /* Centraliza os elementos horizontalmente */
    flex-wrap: wrap;
    /* Permite que os elementos se ajustem em telas menores */
    max-width: 100%;
    /* Define uma largura máxima para a div */
}

/* Estilos para cada uma das caixas (elementos) dentro da div "container" */
.box {
    flex-basis: 30%;
    /* Define a largura base de cada elemento */
    background-color: #f0f0f0;
    /* Define a cor de fundo da caixa */
    padding: 10px;
    /* Espaçamento interno da caixa */
    margin: 5px;
    /* Reduz o espaço entre os elementos */
    position: relative;
    overflow: hidden;
}

/* Define o tamanho máximo para as imagens dentro das caixas */
.box img {
    width: 100%;
    height: auto;
}

/* Estilos para o texto (parágrafo) dentro das caixas */
.box p {
    font-size: 16px;
    margin-top: 10px;
}

/* Estilização do botão do WhatsApp */
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #25d366;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto do botão */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    /* Borda arredondada do botão */
    transition: background-color 0.3s ease-in-out;
    /* Transição suave ao mudar a cor de fundo */
}

/* Define o tamanho do ícone do WhatsApp dentro do botão */
.whatsapp-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Estilos para a galeria de fotos */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    flex-basis: 25%;
    max-width: 250px;
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho da imagem */
    padding: 8px;
    /* Adiciona um espaçamento interno */
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito de escala */
}

/* Efeito ao passar o mouse sobre as imagens da galeria */
.gallery-item:hover img {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% ao passar o mouse */
}

/* Estilos para o texto de legenda na galeria */
.gallery-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente para a legenda */
    color: #fff; /* Cor do texto da legenda */
    padding: 8px;
    font-size: 14px;
    opacity: 0; /* Inicialmente a legenda estará invisível */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave para o efeito de opacidade */
}

/* Efeito ao passar o mouse sobre as imagens da galeria */
.gallery-item:hover .caption {
    opacity: 1; /* Torna a legenda visível ao passar o mouse */
}



@media screen and (max-width: 500px) {
    .gallery-item {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
    }
}

/* Resto do seu CSS existente ... */

/* Resto do seu CSS existente ... */

/* Estilos para o overlay */
.gallery-item {
    position: relative;
    cursor: pointer; /* Muda o cursor ao passar o mouse para indicar que é clicável */
}

.overlay {
    position: relative; /* Alterado para relative */
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.overlay img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    display: block; /* Adicionado para garantir que as imagens fiquem lado a lado */
}

.larger-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Adiciona o efeito de escala para 0 */
    transition: transform 0.3s ease; /* Adiciona a transição suave */
}

/* Efeito ao passar o mouse sobre as imagens da galeria */
.gallery-item:hover .larger-image {
    transform: translate(-50%, -50%) scale(1); /* Aumenta a escala para 1 */
}



/* Estilos para a div de contato */
.contact {
    text-align: center;
    padding: 20px;
}

/* Estilos para o título h2 dentro da div de contato */
.contact h2 {
    font-size: 100px;
    color: #2a93d5;
    font-weight: bold;
}

/* Estilos para a div de links de contato */
.contact-links {
    margin-top: 20px;
}

/* Estilos para os links dentro da div de links de contato */
.contact-links a {
    display: inline-block;
    margin: 0 10px;
}

/* Estilos para as imagens dentro dos links de contato */
.contact-links img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #2a93d5;
    transition: transform 0.3s ease;
    /* Adiciona uma transição suave para o efeito de crescimento */
}

/* Efeito ao passar o mouse sobre as imagens */
.contact-links img:hover {
    transform: scale(1.1);
    /* Aumenta em 10% o tamanho da imagem ao passar o mouse */
}

/* Restante do seu código CSS continua abaixo... */





/* Estilos para dispositivos com largura máxima de 768px (telas menores) */
@media screen and (max-width: 768px) {

    /* Reduz o tamanho das imagens para telas menores */
    .contact-links img {
        width: 30px;
        height: 30px;
    }
}

/* Estilos para o efeito de rotação nas imagens das caixas */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.left-image {
    transform: rotateY(0);
}

.right-image {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    opacity: 0;
}

.box:hover .image-container {
    transform: rotateY(180deg);
}

.box:hover .left-image {
    opacity: 0;
}

.box:hover .right-image {
    opacity: 1;
}

/* Estilos para a div que contém o texto "Galeria de fotos" */
.texto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Define a altura da div para ocupar 100% da altura da tela */
}

/* Estilos para o título h2 dentro da div "texto2" */
.texto2 h2 {
    font-size: 100px;
    color: #2a93d5;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

/* Define o estilo para a div de classe "contact" */
.contact {
    text-align: center;
    padding: 20px;
}

/* Estilos para o rodapé */
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links img {
    max-width: 100px; /* Ajuste a largura conforme necessário */
    margin: 0 10px;
}

.footer-contact {
    text-align: left;
}

.footer-bottom {
    margin-top: 20px;
    color: #777;
}

/* Estilos para dispositivos com largura máxima de 768px (telas menores) */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-links img {
        margin: 10px 0;
    }

    .footer-contact {
        margin-top: 20px;
        text-align: center;
    }

    .footer-bottom {
        margin-top: 10px;
    }
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Define o tamanho total para a imagem */
    height: 400px; /* Altura desejada para a imagem */
    overflow: hidden; /* Evita que a imagem ultrapasse o tamanho definido */
}

.box-image {
    width: 100%; /* Ajusta a largura da imagem para preencher a div */
    height: 100%; /* Ajusta a altura da imagem para preencher a div */
    object-fit: cover; /* Redimensiona a imagem mantendo a proporção */
}


/* ... (seus estilos anteriores) ... */

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .box {
        flex-basis: 100%;
    }

    .gallery-item {
        flex-basis: 50%;
    }

    .texto2 h2 {
        font-size: 60px;
    }

    .image-container {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
    }

    .texto2 h2 {
        font-size: 40px;
    }

    .image-container {
        height: 200px;
    }
}
