body {
    margin: 0;
    padding: 0;
}

.foto1 img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Defina um valor máximo para o logotipo */
}

.content {
    max-width: 100%; /* Defina um valor máximo para a largura do conteúdo */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.texto2 {
    text-align: center;
}

.foto2 img {
    width: 100%;
    height: 1080px; /* Altura desejada para a imagem */
    max-width: 100%;
}

.video iframe {
    width: 80%;
    height: 300px; /* Altura desejada para o vídeo */
    max-width: 100%;
}



/* Estilos da div com três elementos lado a lado */
.container {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    flex-wrap: wrap; /* Permite que os elementos se ajustem em telas menores */
    max-width: 1200px; /* Define uma largura máxima para a div */
}

.box {
    flex-basis: 30%;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px; /* Reduz o espaço entre os elementos */
}

.box img {
    width: 100%;
    height: auto;
}

.box p {
    font-size: 16px;
    margin-top: 10px;
}

/* Media query para telas menores, com largura máxima de 768px */
@media screen and (max-width: 768px) {
    .box {
        flex-basis: 45%; /* Reduz a largura dos elementos em telas menores */
        margin: 5px; /* Reduz o espaço entre os elementos em telas menores */
    }
}


/* Estilização do botão do WhatsApp */
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.whatsapp-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
